<template>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="background-color: #E5AE28;">
		<!--ol class="carousel-indicators">
					  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol-->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="img-fluid d-block mx-auto" src="http://samskritabharatiusa.org/images/headers/WW_at_your_location.jpg" alt="Sanskrit workshops at your location">
			</div>
			<div class="carousel-item">
				<img class="img-fluid d-block mx-auto" src="http://samskritabharatiusa.org/images/headers/Jnv_Flyer-2017.jpg" alt="Jahnavi 2017">
			</div>
			<div class="carousel-item">
				<img class="img-fluid d-block mx-auto" src="http://samskritabharatiusa.org/images/headers/DLP_2017_Nov_Banner.png" alt="Distance Learning Program">
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  <span class="sr-only">Previous</span>
					</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  <span class="sr-only">Next</span>
					</a>
    </div>

    <div class="card-deck py-3">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">What's New</h4>
				<ul>
					<li>SBUSA20 - भाषणानि - Podcasts</li>
					<li>Registrations Open DLP - Nov2017 Tutorial</li>
					<li>Registrations Open - DLP - Introductory Samskritam</li>
					<li>अमरवाणी - संस्कृतं सर्वेषां कृते-सर्वदा - Project by SB India</li>
				</ul>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Bookstore</h4>
				<h6 class="card-subtitle mb-2">ग्रन्थापणः</h6>
				<img class="card-img-top" src="http://samskritabharatiusa.org/images/bookstore_thumbnail.jpg" alt="Bookstore">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="card-link">Visit the bookstore today!</a>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Bhagavad Gita</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="card-link">Go somewhere</a>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Upcoming Events</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>

	<!--div class="row justify-content-center p-3"-->
	<div class="card-deck">
		<!--div class="col-4"-->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Samskritam for 8-12<sup>th</sup> graders</h4>
				<img class="card-img-top" src="http://samskritabharatiusa.org/images/safl-home.jpg" alt="Samskritam as a Foreign Language">
				<p class="card-text">Samskritam as a Foreign Language is a three-year online distance education program designed specifically for high school
					students who wish to learn Samskrit.</p>
				<a href="http://safl.samskritabharatiusa.org" class="card-link">Learn more</a>
			</div>
		</div>
		<!--/div>
					<div class="col-4"-->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Distance Learning</h4>
				<img class="card-img-top" src="http://samskritabharatiusa.org/images/dlp-home.png" alt="Distance Learning Program">
				<p class="card-text">Samskrita Bharati's Distance Learning Program (DLP) is a unique opportunity to learn Samskritam at your own pace, at
					your own place.</p>
				<a href="#" class="card-link">Learn more</a>
			</div>
		</div>
		<!--/div>
					<div class="col-4"-->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Sambhashana Sandesha</h4>
				<img class="card-img-top img-thumbnail" src="http://sambhashanasandesha.in/php/images/current_issue.jpg" alt="Sambhashana Sandesha Magazine">
				<p class="card-text">Sambhashana Sandesha, a monthly magazine published by Samskrita Bharati is published from Aksharam, Bangalore. It comes
					to you with current affairs, articles, Samskritam news and events from across the world, stories for children and grown-ups,
					cartoons, crossword, vocabulary builders, and more.</p>
				<a href="#" class="card-link">Learn more</a>
			</div>
		</div>
		<!--/div-->
	</div>
</template>