<template>
    <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #FFF;">
		<div class="container">
			<a class="navbar-brand" href="#home">संस्कृतभारती USA</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			 aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-pills nav-justified w-100">
					<li class="nav-item">
						<a class="nav-link bg-white" id="homeNav" href="#home">Home<footer>मुख्यपुटः</footer></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link bg-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Learn<footer>पठनम्</footer></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#teachingmethod">Teaching Method<footer>पाठनपद्धति:</footer></a>
							<a class="dropdown-item" href="#">Adult</a>
							<a class="dropdown-item" href="#">Youth</a>
							<a class="dropdown-item" href="#">Children</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link bg-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Study<footer>अध्ययनम्</footer></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Pre-SAFL</a>
							<a class="dropdown-item" href="#">SAFL</a>
							<a class="dropdown-item" href="#">Distance Learning</a>
							<a class="dropdown-item" href="#">Masters in Samskritam</a>
							<a class="dropdown-item" href="#">Bookstore</a>
							<a class="dropdown-item" href="#">Publications</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link bg-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Find<footer>अन्वेषणम्</footer></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Centers<footer>केन्द्राणि</footer></a>
							<a class="dropdown-item" href="#">SAFL</a>
							<a class="dropdown-item" href="#">Events near you</a>
							<a class="dropdown-item" href="#">Events by category</a>
							<a class="dropdown-item" href="#">Find a class near you</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link bg-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Participate<footer>सहभागः</footer></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Camps</a>
							<a class="dropdown-item" href="#">Competitions</a>
							<a class="dropdown-item" href="#">Workshops</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link bg-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Contribute<footer>योगदानम्</footer></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Sam&#257;janidhi</a>
							<a class="dropdown-item" href="#">Volunteer</a>
							<a class="dropdown-item" href="#">Projects</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link bg-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">About Us<footer>संस्कृतभारती</footer></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Our Mission &amp; Vision</a>
							<a class="dropdown-item" href="#">Contact Us</a>
							<a class="dropdown-item" href="#">Center Contacts</a>
							<a class="dropdown-item" href="#">Newsletter</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
    </nav>
</template>