<template>
    <h1>
        Teaching Method
        <small class="text-muted">पाठनपद्धतिः</small>
    </h1>
        
        <p>
        Over the past three decades, Samskrita Bharati has continued to refine its direct teaching approach to make the learning process easy and effective.
        The direct approach derives its strength from children's natural ability to learn native languages - be it Assamese, Bengali, Gujarati, Hindi, Kashmiri, Marathi, Kannada, Tamil, Telugu or Tulu.
        </p> 

        <p>
        A child is first exposed to the language(s) spoken by people around it. Through this immersion, he/she becomes familiar with the sounds and words of the language. As familiarity with words and constructions increases, the child beings to utter its first broken sentences. Before long fluent sentences follow naturally. Over time, he/she acquires the ability to read and write. The direct approach to language learning is thus a four-stepped process: listen-speak-read-write. Samskrita Bharati's teaching methodology is structured around this principle. The effectiveness of this approach hardly needs any mention. Our individual experience in learning our native language stands as a testament.
        </p>

        <p><strong>
        Why is the direct approach to be effective in learning Samskritam?
        </strong></p>
        
        <p>
        Those of us who know any Indian language is ideally suited to adopt this approach. This is so because almost all Indian languages borrow heavily from Samskritam - in terms of vocabulary, concepts, usage and sentence construction. Some languages like Bengali, Telugu, etc. borrow more heavily than others. So native speakers of those languages have an easier time in learning Samskritam!
        </p>
        
        <p><strong>
        Alternate Learning Methodologies
        </strong></p>
        
        <p>
        There are several other learning strategies that one may adopt. Among them, the Grammar-Translation method is one of the prevalent techniques. This method does not prepare the student to use the language because it lacks any focus on creative expression. The student is likely to be overwhelmed by the intricacies of grammar and lost in dense poems and paragraphs.
        </p>

        <div class="media">
                <a href="https://www.youtube.com/watch?v=IIAdHEwiAy8"><img class="d-flex mr-3" src="http://img.youtube.com/vi/IIAdHEwiAy8/mqdefault.jpg" alt="Monty Python Life of Brian"></a>
                <div class="media-body">
        On a lighter note, this approach has been lampooned by Monty Python in the film Life of Brian! See a Youtube clip here!
                </div>
              </div>
</template>